@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverChange:hover {
  background-color: rgb(210, 241, 239);
}
.scaleChange:hover {
  transform: scale(1.13);
}
.postImage {
  width: 100% !important;
  height: 320px !important;
  object-fit: cover;
}

.newsImage {
  width: 90px !important;
  height: 80px !important;
}

.userPost {
  width: 40px !important;
  height: 40px !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68, 65, 65);
}

::-webkit-scrollbar-track {
  background-color: rgb(238, 229, 182);
}
