@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverChange:hover {
  background-color: rgb(210, 241, 239);
}
.scaleChange:hover {
  transform: scale(1.13);
}
.postImage {
  width: 100% !important;
  height: 320px !important;
  object-fit: cover;
}
